body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
	color: black;
}

.main {
	padding: 170px;
  	background-image: url("http://pre14.deviantart.net/bf57/th/pre/i/2012/087/9/1/blurry_lights_wallpaper_by_kufaz-d4u7jsm.png");
    background-size: 100%;
}

h1, h3{
  line-height: 20px; 
}

h3, h4{
  line-height: 5px; 
}

h1{
	font-size: 70px;
  	font-family: 'Trebuchet MS', Helvetica, sans-serif;
  	letter-spacing: -1px;
  	color: white;
}

h3{
	font-size: 40px;
  	font-family: 'Trebuchet MS', Helvetica, sans-serif;
  	letter-spacing: 2px;
  	color: white;
}

h4{
	font-size: 30px;
  	font-family: 'Trebuchet MS', Helvetica, sans-serif;
  	letter-spacing: 15px;
  	color: white;
}

 
h2 {
	font-size: 56px;
}
h5 {
	font-size: 56px;
}

nav {
	 background-color: black;
}

nav li {
  display: inline;
  margin: 0;
  padding: 0 10px;
}

nav ul {
  display: inline;
}

nav a {
	margin-right: 200px;
  	height: 60px;
  	line-height: 60px;
  	color: white;
  	text-decoration: none;
}

.information {
	padding: 150px;
	margin: 30px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  color: black;
} 

p {
  font-size: 2rem;
}

.information a {
	color: #00FFAA;
	font-size: 1.25em;
	text-decoration: none;
}

.information2 {
	padding: 150px;
	margin: 30px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  color: black;
} 

p2 {
  font-size: 2rem;
}

.information2 a {
	color: #00FFAA;
	font-size: 1.25em;
	text-decoration: none;
}